:root {
    --teal: rgb(0, 128, 128);
    --red: rgb(255, 0, 0);
    --smokewhite: rgb(245, 245, 245);
}

body {
    background-color: var(--smokewhite);
    font-family: monospace, Monaco;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.kmhtml {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.kmhtml .dots {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.1rem;
    font-size: large;
}

.kmhtml .dots .dot {
    display: inline-block;
    cursor: pointer;
}

.kmhtml .summary {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    color: var(--smokewhite);
    padding: 0.25rem;
}

.kmhtml .summary[data-success] {
    background: var(--teal);
}

.kmhtml .summary[data-failure] {
    background: var(--red);
}

.kmhtml ul {
    list-style-type: none;
    padding: 1rem;
}

.kmhtml .passed {
    color: var(--teal);
}

.kmhtml .failed {
    color: var(--red);
}

.kmhtml .pending {
    color: rgb(255, 166, 0)
}

.kmhtml .failed details {
    color: initial;
}

.kmhtml .failed details summary {
    cursor: pointer;
}